body {
	font-family: 'Inconsolata', monospace;
	color: #526262;
}

p {
	font-size: 20px;
}

/*--------------------------------------------------*/

.home-wrapper, .success-wrapper, .gameover-wrapper, .leaderboard-wrapper {
	background-color: #51BDDA;
	padding: 100px;
	margin: 0 auto;
	height: 600px;
}

.instructions {
	background-color: #FFCD26;
	width: 730px;
}

.home-wrapper header {
	font-size: 60px;
	font-weight: bold;
}

/*------------------------------------------------*/

.game-wrapper {
	background-image: url('roomBG2.jpg');
	background-repeat: repeat-x;
	background-size: contain;
	height: 730px;
}

div.riddle-banner {
	margin: 0 auto;
	background-color: #5DBCD2;
	max-width: 850px;
	height: 180px;

}
.riddle-banner h1 {
	margin-top: 15px;
	font-size: 40px
}

.objects-left, .objects-center-left, .objects-center-right, #umbrella, .objects-right {
	display: inline-block;
	float: left;
	padding-left: 65px;

}

#wine, #kitchenTable, #chair, #lamp, #shelf, #cat, #cactus, #bookshelf, #umbrella, #window, #couch {
	position: absolute;
}

.objects-left {
	margin-top: 30px;
}

#kitchenTable {
	margin-top: 200px;
}

#wine {
	margin-top: 130px;
	margin-left: 30px;
}

#chair {
	margin-top: 170px;
	margin-left: 250px;
}

.frames {
	margin-top: 40px;
	margin-left: 50px
}

#lamp {
	margin-top: 120px;
	margin-left: 70px;
}

#shelf {
	margin-top:160px;
	margin-left: 70px;
}

#couch {
	margin-top: 280px;
	margin-left: 650px;
}

#bookshelf {
	margin-top: 100px;
}

#cat {
	margin-top: 370px;
	margin-left: 20px;
}

#cactus {
	margin-top: 305px;
	margin-left: 250px
}

#bookshelf {
	margin-top: 165px;
	margin-left: 350px;
}

#umbrella {
	margin-top: 300px;
	margin-left: 575px;
	position: absolute;
}

#window {
	margin-left: 720px;
	margin-top: 80px;
}

/*-----------------------------------------------*/

section#name-list, section#time-list {
	display: inline-block;
}
